<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Produit</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="Mycontent">
    <div class="container mt-5">
        <div class="card-body">
            <form action="saveProduit" method="post">
                <div class="form-group">
                    <label class="control-label">Nom Produit :</label>
                    <input type="text" name="nomProduit" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Prix Produit :</label>
                    <input type="text" name="prixProduit" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">date création :</label>
                    <input type="date" name="date" class="form-control"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </form>
        </div>
        <br/>
        <br/>
        <a href="ListeProduits">Liste Produits</a>
    </div>
</div>
</body>
</html>